*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}



body{
  background:#121212;
  color:#fff;
  font-family:'Montserrat', sans-serif;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:white;
}

img{
  width:100%;
  display:block;
}

:root{
  --green:#b6ff00;
  --dark:#151515;
}


/* HEADER */

.header{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:90px;

  padding:0 60px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  z-index:999;
}

.logo{
  color:var(--green);
  font-size:30px;
  font-weight:900;
}

.nav{
  display:flex;
  align-items:center;
  gap:70px;
}

.nav-item{
  position:relative;
  cursor:pointer;
  text-align:center;
}

.nav-item::after{
  content:'';

  position:absolute;
  left:-20px;
  top:100%;

  width:calc(100% + 40px);
  height:25px;
}

.nav-item > a{
  font-size:16px;
  font-weight:700;
  letter-spacing:1px;
  transition:.3s;
}

.nav-item:hover > a{
  color:var(--green);
}

/* SUBMENU */

.submenu{
  position:absolute;

  top:100%;
  left:50%;

  transform:
  translateX(-50%)
  translateY(35px);

  min-width:150px;

  padding:18px 0;

  background:rgba(31, 31, 31, 0.78);

  backdrop-filter:blur(12px);

  border-radius:14px;

  opacity:0;
  pointer-events:none;

  transition:
  opacity .25s ease,
  transform .35s ease;
}

.nav-item:hover .submenu{
  opacity:1;
  pointer-events:auto;

  transform:
  translateX(-50%)
  translateY(20px);
}

.submenu a{
  display:block;

  padding:14px 28px;

  color:#d5d5d5;

  font-size:15px;
  font-weight:600;

  white-space:nowrap;

  transition:
  color .3s ease,
  background .3s ease,
  transform .3s ease;
}

.submenu a:hover{
  color:var(--green);
  
  background:rgba(219, 218, 218, 0.04);

  transform:translateX(3px);
}

.about-menu a,
.hire-menu a{
  text-align:center;
}

/* BUSINESS만 조금 넓게 */

.submenu.business-menu{
  min-width:320px;
}

/* RIGHT */

.right-menu{
  display:flex;
  align-items:center;
}

.login{
  font-weight:700;
}

.divider{
  width:1px;
  height:14px;

  background:rgba(255,255,255,.3);

  margin:0 20px;
}

.search-icon{
  font-size:25px;

  position:relative;
  top:-2px;
}

.right-menu span:first-child{
  color:var(--green);
}

/* =========================
   ABOUT HERO
========================= */

.about-hero{
    position:relative;
    height:100vh;
    background:#181818;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.hero-content{
    text-align:center;
    position:relative;
    z-index:5;
}

.hero-content h1{
    font-size:120px;
    font-weight:900;
    line-height:1;
    letter-spacing:4px;
}

.hero-content p{
    margin-top:28px;

    color:#b6ff00;

    font-size:18px;
    font-weight:500;
}

.circle-wrap{
    position:absolute;

    width:450px;
    height:450px;

    display:flex;
    justify-content:center;
    align-items:center;

    animation:rotateText 18s linear infinite;
}

.circle-svg{
    width:100%;
    height:100%;
}

.circle-svg text{
    fill:rgba(255,255,255,.12);

    font-size:13px;

    letter-spacing:3px;

    font-weight:600;
}

@keyframes rotateText{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}

/* =========================
   INTRODUCE
========================= */

.introduce{
    padding:120px 90px;
    background:#181818;

    border-top:1px solid rgba(255,255,255,.05);
}

.introduce h2{
  padding-left:20px;
    font-size:55px;
    font-weight:900;

    margin-bottom:60px;
}

.intro-grid{
    display:grid;

    grid-template-columns:1fr 1fr;

    gap:30px;
}

.intro-card{
    position:relative;

    background:#222;
    border-radius:24px;

    padding:50px;
    min-height:260px;

    overflow:hidden;

    transition:
    transform .35s ease,
    box-shadow .35s ease,
    background .35s ease;
}

.intro-card:hover{
    transform:scale(1.03);

    box-shadow:
    0 15px 40px rgba(0,0,0,.35);

    background:#262626;
}

.intro-card span{
    position:absolute;

    top:30px;
    right:30px;

    font-size:58px;

    color:rgba(255,255,255,.08);

    font-weight:800;

    transition:
    color .35s ease,
    transform .35s ease;
}

.intro-card:hover span{
    color:var(--green);

    transform:scale(1.15);
}

.intro-card h3{
    font-size:34px;

    line-height:1.3;
    margin-top:30px;
    margin-bottom:20px;
}

.intro-card p{
    color:#8c8c8c;

    line-height:2;

    font-size:15px;
}

/* =========================
   GREEN SHAPE
========================= */

.green-shape{
    padding:0;
    margin:0;
    background:#181818;
    overflow:hidden;
    line-height:0;
}

.green-swoosh{
    width:100%;
    display:block;
}

/* =========================
   QUOTE
========================= */

.quote-section{
    padding:150px 40px;

    text-align:center;

    background:#181818;
}

.quote-section h2{
    font-size:62px;

    line-height:1.4;

    font-weight:900;
}

.quote-section span{
    color:#b6ff00;
}

/* =========================
   HISTORY
========================= */

.history{
    padding:150px 80px;

    background:#181818;
}

.history h2{
    font-size:55px;
    font-weight:900;

    margin-bottom:100px;
}

.history-wrap{
    max-width:1200px;
    margin:0 auto;
}

.history-year{
    display:flex;

    align-items:flex-start;

    gap:140px;

    margin-bottom:90px;
}

.year{
    
    width:120px;

    font-size:60px;

    font-weight:900;

    color:#fff;

    flex-shrink:0;
}

.history-list{
    flex:1;
    max-width:1000px;

}

.history-item{
    background:#232323;

    border-radius:14px;

    padding:22px 30px;

    display:flex;
    align-items:center;

    gap:30px;

    margin-bottom:18px;

    transition:.35s;
}

.history-item:hover{
    transform:translateX(10px);

    background:#2a2a2a;
}

.history-item span{
    min-width:60px;

    color:#b6ff00;

    font-size:15px;

    font-weight:600;
}

.history-item p{
    color:#e2e2e2;

    margin-left: 15px;
    font-size:16px;

    font-weight:500;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:1200px){

    .hero-content h1{
        font-size:90px;
    }

    .quote-section h2{
        font-size:48px;
    }

    .year{
        font-size:54px;
    }

}

@media(max-width:900px){

    .intro-grid{
        grid-template-columns:1fr;
    }

    .history-year{
        flex-direction:column;
        gap:25px;
    }

    .year{
        width:100%;
    }

    .hero-content h1{
        font-size:70px;
    }

    .introduce h2,
    .history h2{
        font-size:42px;
    }

    .quote-section h2{
        font-size:36px;
    }

}

/* HERO */

.hero{
  position:relative;

  height:100vh;

  overflow:hidden;

  display:flex;
  justify-content:center;
  align-items:center;

  background:#151515;
}


.circle-text{
  position:absolute;

  width:320px;
  height:320px;

  display:flex;
  justify-content:center;
  align-items:center;
}

.circle-svg{
  width:100%;
  height:100%;

  animation:rotateCircle 18s linear infinite;
}

.circle-svg text{
  fill:rgba(255,255,255,0.12);

  font-size:14px;

  letter-spacing:3px;

  font-weight:600;
}


.hero{
  position:relative;
}

.circle-wrap{
  position:absolute;

  width:480px;
  height:480px;

  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:14px;
  color:rgba(255,255,255,0.15);

  letter-spacing:2px;

  animation:rotateText 20s linear infinite;
}

@keyframes rotateText{

  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }
}

  /* FOOTER */



.footer-bottom{
    background:#232323;
    padding:45px 90px;

    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.footer-bottom h3{
    font-size:24px;
    font-weight:800;
    margin-bottom:8px;
    color:#fff;
}

.footer-bottom > div p{
    color:#888;
    font-size:12px;
}

.footer-copy{
    text-align:right;
}

.footer-copy p{
    color:#8c8c8c;
    font-size:12px;
}

.footer-copy small{
    display:block;
    margin-top:8px;
    color:#666;
    font-size:10px;
    letter-spacing:0.5px;
}