*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}



body{
  background:#121212;
  color:#fff;
  font-family:'Montserrat', sans-serif;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:white;
}

img{
  width:100%;
  display:block;
}

:root{
  --green:#b6ff00;
  --dark:#151515;
}


/* HEADER */

.header{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:90px;

  padding:0 60px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  z-index:999;
}

.logo{
  color:var(--green);
  font-size:30px;
  font-weight:900;
}

.nav{
  display:flex;
  align-items:center;
  gap:70px;
}

.nav-item{
  position:relative;
  cursor:pointer;
  text-align:center;
}

.nav-item::after{
  content:'';

  position:absolute;
  left:-20px;
  top:100%;

  width:calc(100% + 40px);
  height:25px;
}

.nav-item > a{
  font-size:16px;
  font-weight:700;
  letter-spacing:1px;
  transition:.3s;
}

.nav-item:hover > a{
  color:var(--green);
}


/* HIRE PAGE */



.hire-hero{
    padding:250px 180px 180px;
}

.hire-hero .sub-title{
    color:#b6ff00;
    font-size:12px;
    font-weight:600;
}

.hire-hero h1{
    font-size:100px;
    line-height:1;
    font-weight:900;
    margin:20px 0 40px;
}

.hire-hero p{
    color:#888;
    line-height:1.8;
}

.hire-values{
    padding:0 90px;
}

.value-row{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:70px 0;

    border-top:1px solid rgba(255,255,255,.08);
}

/* CONTACT */

.contact-location{
    padding:0 180px 180px;
}

.location-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;
    margin-bottom:180px;
}

.location-info{
    flex:1;
}

.location-info h2{
    font-size:60px;
    font-weight:900;
    line-height:1;
    margin-bottom:50px;
}

.location-info p{
    color:#cfcfcf;
    font-size:15px;
    line-height:2;
}

.location-image{
    flex:1;
    height:280px;
    border-radius:20px;
    overflow:hidden;
    background:#2a2a2a;
}

.location-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.reverse{
    flex-direction:row;
}

.green-box{
    background:#5b9200;
}


/* FOOTER */

.footer-bottom{
    margin-top:150px;

    background:#1c1c1c;

    padding:60px 80px;

    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.footer-bottom h3{
    font-size:32px;
    margin-bottom:10px;
}

.footer-bottom p{
    color:#888;
}

.footer-copy{
    text-align:right;
}