*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}



body{
  background:#121212;
  color:#fff;
  font-family:'Montserrat', sans-serif;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:white;
}

img{
  width:100%;
  display:block;
}

:root{
  --green:#b6ff00;
  --dark:#151515;
}


/* HEADER */

.header{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:90px;

  padding:0 60px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  z-index:999;
}

.logo{
  color:var(--green);
  font-size:30px;
  font-weight:900;
}

.nav{
  display:flex;
  align-items:center;
  gap:70px;
}

.nav-item{
  position:relative;
  cursor:pointer;
  text-align:center
}

.nav-item::after{
  content:'';

  position:absolute;
  left:-20px;
  top:100%;

  width:calc(100% + 40px);
  height:25px;
}

.nav-item > a{
  font-size:16px;
  font-weight:700;
  letter-spacing:1px;
  transition:.3s;
}

.nav-item:hover > a{
  color:var(--green);
}

/* SUBMENU */

.submenu{
  position:absolute;

  top:100%;
  left:50%;

  transform:
  translateX(-50%)
  translateY(35px);

  min-width:150px;

  padding:18px 0;

  background:rgba(31, 31, 31, 0.78);

  backdrop-filter:blur(12px);

  border-radius:14px;

  opacity:0;
  pointer-events:none;

  transition:
  opacity .25s ease,
  transform .35s ease;
}

.nav-item:hover .submenu{
  opacity:1;
  pointer-events:auto;

  transform:
  translateX(-50%)
  translateY(20px);
}

.submenu a{
  display:block;

  padding:14px 28px;

  color:#d5d5d5;

  font-size:15px;
  font-weight:600;

  white-space:nowrap;

  transition:
  color .3s ease,
  background .3s ease,
  transform .3s ease;
}

.submenu a:hover{
  color:var(--green);
  
  background:rgba(219, 218, 218, 0.04);

  transform:translateX(3px);
}

.about-menu a,
.hire-menu a{
  text-align:center;
}

/* BUSINESS만 조금 넓게 */

.submenu.business-menu{
  min-width:320px;
}

/* RIGHT */

.right-menu{
  display:flex;
  align-items:center;
}

.login{
  font-weight:700;
}

.divider{
  width:1px;
  height:14px;

  background:rgba(255,255,255,.3);

  margin:0 20px;
}

.search-icon{
  font-size:25px;

  position:relative;
  top:-2px;
}

.right-menu span:first-child{
  color:var(--green);
}

/* HERO */

.hero{
  position:relative;

  height:100vh;

  overflow:hidden;

  display:flex;
  justify-content:center;
  align-items:center;

  background:#151515;
}

.triangle-left{
  position:absolute;

  left:0;
  top:0;

  width:420px;
  height:100%;

  background:rgba(255,255,255,0.03);

  clip-path:polygon(0 0, 100% 100%, 0 100%);
}

.triangle-right{
  position:absolute;

  right:0;
  top:0;

  width:420px;
  height:100%;

  background:rgba(255,255,255,0.03);

  clip-path:polygon(100% 0, 100% 100%, 0 100%);
}

.circle-text{
  position:absolute;

  width:320px;
  height:320px;

  display:flex;
  justify-content:center;
  align-items:center;
}

.circle-svg{
  width:100%;
  height:100%;

  animation:rotateCircle 18s linear infinite;
}

.circle-svg text{
  fill:rgba(255,255,255,0.12);

  font-size:14px;

  letter-spacing:3px;

  font-weight:600;
}


.hero{
  position:relative;
}

.circle-wrap{
  position:absolute;

  width:480px;
  height:480px;

  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:14px;
  color:rgba(255,255,255,0.15);

  letter-spacing:2px;

  animation:rotateText 20s linear infinite;
}

@keyframes rotateText{

  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }

}

.hero-inner{
  position:relative;
  z-index:10;

  text-align:center;
}

.hero-title{
  font-size:100px;
  font-weight:900;
  line-height:1;
}

.hero-subtitle{
  font-size:95px;
  color:var(--green);
  font-weight:900;
  margin-top:10px;
}

.scroll-text{
  position:absolute;

  bottom:40px;
  left:50%;

  transform:translateX(-50%);

  display:flex;
  flex-direction:column;
  align-items:center;

  gap:12px;

  color:var(--green);

  font-size:11px;
  letter-spacing:3px;

  z-index:20;
}

.scroll-line{
  width:1px;
  height:40px;

  background:rgba(182,255,0,0.5);

  position:relative;

  overflow:hidden;
}

.scroll-line::after{
  content:'';

  position:absolute;

  left:0;
  top:-20px;

  width:100%;
  height:20px;

  background:#b6ff00;

  animation:scrollDown 1.8s infinite;
}

@keyframes scrollDown{

  0%{
    top:-20px;
    opacity:0;
  }

  30%{
    opacity:1;
  }

  100%{
    top:55px;
    opacity:0;
  }

}


/* ABOUT */

.myth-section{
  padding:170px 80px;

  display:flex;
  justify-content:space-between;
  align-items:flex-start;

  gap:120px;

  background:#181818;
}

.myth-left{
  flex:1;
  margin-left: 220px;
}

.myth-right{
  width:430px;

  margin-right:300px;

  padding-top:200px;

  color:#9d9d9d;

  line-height:2.1;

  font-size:17.25px;
}

.section-label{
  color:var(--green);

  font-size:18px;

  font-weight:800;

  letter-spacing:1px;
}

.myth-title{
  margin-top:32px;

  font-size:72px;

  line-height:1.2;

  font-weight:800;

  color:white;
}

.myth-title span{
  color:var(--green);
}

.stats-wrap{
  display:flex;

  gap:28px;

  margin-top:75px;
}

.stat-box{
  background:#232323;

  width:360px;

  padding:42px 30px;

  border-top:3px solid var(--green);
}

.stat-label{
  color:#8c8c8c;

  font-size:14px;
}


.stat-number{
  color:var(--green);

  font-size:52px;
  font-weight:800;
}

.counter{
  color:var(--green);

  font-size:70px;
  font-weight:800;
}

.stat-number span:last-child{
  color:#ffffff;

  font-size:28px;
  font-weight:700;
}

/* BIG TEXT */

.big-text{
  font-size:90px;
  font-weight:900;
  color:transparent;

  -webkit-text-stroke:1px rgba(255,255,255,0.12);

  white-space:nowrap;

  padding:40px 0;
  overflow:hidden;
}

/* PARTNERS */

.partners{
  padding:110px 90px;
  background:#181818;
}

.partners h2{
  font-size:60px;
  font-weight:900;
  line-height:1.3;

  margin-bottom:60px;
}

.partner-wrap{
  overflow:hidden;
  width:100%;
}

.partner-grid{
  display:flex;
  gap:30px;

  width:max-content;

  animation:partnerSlide 18s linear infinite;
}

.partner-box{
  width:350px;
  height:150px;

  background:var(--green);

  border-radius:16px;

  display:flex;
  justify-content:center;
  align-items:center;

  color:#111;

  font-size:30px;
  font-weight:900;

  flex-shrink:0;
}

@keyframes partnerSlide{
  from{
    transform:translateX(0);
  }

  to{
    transform:translateX(-50%);
  }
}

/* WORKS */

.work-section{
  padding:140px 110px;
  background:#181818;
}

.work-container{
  max-width:1400px;

  margin:0 auto;

  padding:0 40px;
}

.work-header{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;

  border-bottom:1px solid rgba(255,255,255,0.08);

  padding-bottom:24px;
  margin-bottom:40px;
}

.work-header h2{
  font-size:58px;
  font-weight:900;
}

.work-header p{
  color:var(--green);

  font-size:14px;
  font-weight:700;
}

.work-grid{
  display:grid;

  grid-template-columns:
  1fr 1fr 1fr;

  gap:28px;

  width:100%;
}

.work-card{
  background:#252525;

  border-radius:14px;

  overflow:hidden;

  width:100%;

  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
}

.work-card:hover{
  transform:translateY(-8px);
}

.work-card img{
  width:100%;
  height:240px;

  object-fit:cover;

  display:block;
}

.card-content{
  padding:22px;
}

.card-content small{
  color:var(--green);

  font-size:12px;
  font-weight:700;
}

.card-content h3{
  margin-top:10px;

  font-size:28px;
  font-weight:800;
}

.card-content p{
  margin-top:10px;

  color:#9c9c9c;

  line-height:1.8;

  font-size:14px;
}

.work-banner{
  margin-top:45px;

  padding:26px 30px;

  border-left:4px solid var(--green);

  background:
  linear-gradient(
    90deg,
    rgba(182,255,0,0.18) 0%,
    rgba(182,255,0,0.08) 50%,
    transparent 100%
  );

  font-weight:700;
}

/* NEWS */

.news{
  padding:140px 110px;
  background:#181818;
}

.news h2{
  font-size:58px;
  font-weight:900;

  margin-bottom:40px;

  line-height:1;
}

.news-list{
  border-top:1px solid rgba(255,255,255,0.08);
}

.news-item{
  display:flex;
  align-items:center;

  padding:32px 0;

  border-bottom:1px solid rgba(255,255,255,0.08);

  transition:
    padding-left .3s ease,
    background .3s ease;
}

.news-item span{
  width:90px;

  color:var(--green);

  font-size:14px;
  font-weight:800;
}

.news-item p{
  flex:1;

  font-size:18px;
  font-weight:600;
}

.news-item small{
  color:#777;
  margin-right:40px;
  font-size:14px;
}

.news-item:hover{
  padding-left:15px;

  background:rgba(255,255,255,0.02);
}

.news-item:hover p{
  color:var(--green);
}

/* RECRUIT */

.recruit{
  padding:0 90px 120px;
  margin-top: 120px;
}

.recruit-box{
  background:#1e1e1e;

  border-radius:35px;

  padding:90px;

  text-align:center;
}

.recruit-box h2{
  font-size:85px;
  font-weight:900;
}

.recruit-box p{
  margin-top:20px;
  color:#999;
  line-height:2;
}

.recruit-box button{
  margin-top:40px;

  border:none;
  background:var(--green);

  padding:18px 50px;

  border-radius:50px;

  font-weight:800;
  cursor:pointer;

  transition:
    transform .3s ease,
    box-shadow .3s ease,
    background .3s ease;
}

.recruit-box button:hover{
  transform:translateY(-4px);

  box-shadow:
    0 5px 12px rgba(182,255,0,.35);

  background:#c8ff33;
}

.recruit-box button:active{
  transform:translateY(-1px);
}

/* FOOTER */

footer{
  margin-top:150px;
}

.footer-top{
  background:#181818;

  padding:100px 90px;

  border-top:1px solid rgba(255,255,255,0.08);

  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

.footer-title h2{
  font-size:60px;

  font-weight:900;

  line-height:1.1;

  color:#fff;
}

.footer-right{
  display:flex;

  gap:40px;
}

.footer-right h4{
  color:var(--green);

  font-size:18px;

  font-weight:800;

  letter-spacing:1px;

  margin-bottom:15px;
}

.footer-right p{
  color:#d0d0d0;

  font-size:14px;

  line-height:1.8;
}

.footer-right small{
  display:block;

  margin-top:12px;

  color:#7a7a7a;

  font-size:14px;

  line-height:1.7;
}

.footer-bottom{
  background:#232323;

  padding:45px 90px;

  display:flex;

  justify-content:space-between;

  align-items:flex-end;
}

.footer-bottom h3{
  font-size:24px;

  font-weight:800;

  margin-bottom:8px;

  color:#fff;
}

.footer-bottom > div p{
  color:#888;

  font-size:12px;
}

.footer-copy{
  text-align:right;
}

.footer-copy p{
  color:#8c8c8c;

  font-size:12px;
}

.footer-copy small{
  display:block;

  margin-top:8px;

  color:#666;

  font-size:10px;

  letter-spacing:0.5px;
}