*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}



body{
  background:#121212;
  color:#fff;
  font-family:'Montserrat', sans-serif;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:white;
}

img{
  width:100%;
  display:block;
}

:root{
  --green:#b6ff00;
  --dark:#151515;
}


/* HEADER */

.header{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:90px;

  padding:0 60px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  z-index:999;
}

.logo{
  color:var(--green);
  font-size:30px;
  font-weight:900;
}

.nav{
  display:flex;
  align-items:center;
  gap:70px;
}

.nav-item{
  position:relative;
  cursor:pointer;
  text-align:center;
}

.nav-item::after{
  content:'';

  position:absolute;
  left:-20px;
  top:100%;

  width:calc(100% + 40px);
  height:25px;
}

.nav-item > a{
  font-size:16px;
  font-weight:700;
  letter-spacing:1px;
  transition:.3s;
}

.nav-item:hover > a{
  color:var(--green);
}


/* ==========================
   NEWS HERO
========================== */



.news-hero{
    width:1400px;
    margin:0 auto;

    padding-top:180px;
    padding-bottom:120px;
}

.news-sub{
    color:#b6ff00;

    font-size:12px;
    font-weight:600;

    margin-bottom:10px;
}

.news-hero h1{
    font-size:100px;
    font-weight:900;

    line-height:1;
}

/* ==========================
   NEWS BOARD
========================== */

.news-board{
    width:1400px;
    margin:0 auto;

    padding-bottom:180px;
}

.news-row{
    display:flex;
    align-items:center;

    min-height:85px;

    border-top:1px solid rgba(255,255,255,.08);

    transition:.3s;
}

.news-row:last-child{
    border-bottom:none;
}

.news-num{
    width:90px;
    padding-left:20px;
    color:#b6ff00;

    font-size:24px;
    font-weight:900;
}

.news-title{
    flex:1;

    font-size:18px;
    font-weight:700;
}

.news-date{
    color:#9a9a9a;
    margin-right: 20px;
    font-size:16px;
}

/* HOVER */

.news-row:hover{
    padding-left:20px;

    background:rgba(255,255,255,.02);
}

.news-row:hover .news-title{
    color:#b6ff00;
}

/* ==========================
   FOOTER
========================== */

.footer-bottom{
    background:#1d1d1d;

    padding:80px 100px;

    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.footer-bottom h3{
    font-size:42px;
    font-weight:900;

    margin-bottom:15px;
}

.footer-bottom p{
    color:#8e8e8e;
}

.footer-copy{
    text-align:right;
}

.footer-copy small{
    display:block;

    margin-top:15px;

    color:#666;
}